h2 {
    color: rgb(249, 249, 249);
    background-color: rgb(108, 79, 160);
}

button {
    color: rgb(255, 255, 255);
    background-color: #172f90;
}

p {
    color: rgb(255, 255, 255);
    background-color: rgb(31, 32, 74);
}

body {
    background-color: #000;
}