h1,
h2 {
    color: rgb(249, 249, 249);
    background-color: #bde0fe;
    text-align: center;
    border-radius: 5%;
    font-weight: 400;
    letter-spacing: 15px;
    font-size: 50px;
    font-family: 'Segoe UI', Futura, sans-serif;
}

button {
    text-align: center;
    color: #cdb4db;
    background-color: #ffc8dd;
}

#botonUno {
    background-color: #ffc8dd;
}

section {
    text-align: center;
}

p {
    color: rgb(255, 255, 255);
    background-color: #cdb4db;
    font-weight: bold;
}

body {
    background-color: #a2d2ff;
}

a {
    text-decoration: none;
    line-height: 2;
}