section {
    width: 500px;
    height: 500px;
    background-color: red;
}

#rgba {
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.5);
}

#opacity {
    background-color: yellow;
    width: 50%;
    height: 50%;
    opacity: 0.3;

}