section {
    width: 80%;
    height: 800px;
    background-color: purple;
    margin: 0 auto;
    background: center/cover url(https://images.unsplash.com/photo-1494088644719-c75cad020cff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80);
}

h1 {
    font-size: 100px;
    color: white;
}